[user]
  email = nclark@thrownproject.com
  name = Neal Clark
[color]
  ui = auto
  diff = auto
  status = auto
[color "branch"]
  current = blue
  local = white
  remote = green
[alias]
  st = status
  co = checkout
  ci = commit
  br = branch
  cp = cherry-pick
  mv = br -M
  put = push origin HEAD
  pop = reset HEAD^ ; status -a
  psh = add * ; commit -a -m '***** WORKING CHANGES *****'
  slog = log --pretty=format:'%h - %an, %ar : %s'
  lod = log --oneline --decorate
  msg = commit --allow-empty -m
  sl = stash list
  sc = stash clear
  sa = stash apply
  sd = diff stash@{0}
[core]
  excludesfile = /Users/nclark/.gitignore
  editor = /usr/bin/vim
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[github]
  user = nclark
  token = [github token]
[merge]
  tool = mvim
[mergetool "mvim"]
  cmd=/usr/local/bin/mvim -d -g $LOCAL $MERGED $REMOTE
  keepbackup=false
[pivotal]
  api-token = [api token]
[gist]
  private = yes

